{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "max-len": [1, 160, 2, {"ignoreComments": true}],
    //"no-console": "off"
    //"no-console": 0
    //check only local vars, exclude globals
    "no-unused-vars": ["error", { "vars": "local", "args": "after-used", "ignoreRestSiblings": false }]
  }
}
